<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<style>
		body{
			background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
		}
		.bd1{
			margin:50px;
			border: 40px;
			border-radius: 25px;
		}
		
	</style>
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body style="text-align:center" >
	
    <div class="bd1" style="height: 80%;width:90%;">
        <h2>About Us</h2>
		{{obj.fid_id}}
        This is a Mini Project done by Batch-9A CSE Students of MVGR
    </div>
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>